@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    width: 300px;
    /* Adjust as needed */
}

.scrollable-container {
    height: 200px;
    /* Fixed height */
    overflow-y: scroll;
    /* Enable vertical scrolling */
}

.number-list {
    margin: 0;
    padding: 0;
}