@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    width: 300px;
}

.scrollable-container {
    height: 200px;
    overflow-y: scroll;
}

.number-list {
    margin: 0;
    padding: 0;
}